/*
OLDER VERSION
@import '@angular/material/theming';
@include mat-core();

$custom-app-primary: mat-palette($mat-blue);
$custom-app-secondary: mat-palette($mat-indigo, A200, A400, 700);
$custom-app-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-app-primary, $custom-app-secondary, $custom-app-warn);
@include angular-material-theme($custom-theme);*/

@use '@angular/material' as mat;
@include mat.core();

$custom-app-primary: mat.define-palette(mat.$blue-palette);
$custom-app-accent: mat.define-palette(mat.$indigo-palette, A200, A400, 700);
$custom-app-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-app-primary,
    accent: $custom-app-accent,
    warn:$custom-app-warn
  ),
  typography: mat.define-typography-config(),
  density: 0,
 ));


@include mat.core-theme($custom-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*form add*/
.full-width{
  width: 100%;
}

.form-min-width {
  min-width: 150px;
}

.card {
  max-width: calc(100% - 64px);
  margin: 1em;
}

.form-actions-container {
  display: flex;
  justify-content: flex-end;

  > * {
    margin-left: 1em;
  }

}

/*table courses*/

.column-actions{
  width: 100%;
  max-width: 200px;

  .column-actions-fix-cell{
    max-width: 100px;
    /*background-color: red;*/
  }
}
