table {
  width: 100%;
}

mat-card {
  width: calc(100% - 32px);
  margin: 24px auto;
  border-radius: 0px 0px 8px 8px;

  mat-toolbar {
    border-radius: 8px 8px 0px 0px;
  }

}

.category {
  display: flex;
  align-items: center;
  height: 51px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background-color: #f6f6f6;
}

